doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='Semana de eventos front-end - Edição 2019')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Front-end Week 2019

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.png')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body
    #particles
    main.main
      .main__text
        img.main__text__title(src='assets/img/logo.png', alt='Front-end Week')
        span.main__text__date
          | Campinas: 29/04 a 03/05  <br/>
          | São Paulo: 08/07 a 13/07      
                  
    sidebar.sidebar
      h2.sidebar__title
        | Programação

      .sidebar__city-toggle
        .sidebar__city
          | Campinas
        .sidebar__city.sidebar__city--active
          | São Paulo

      .sidebar__days.sidebar__days--active

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 10/7 - Quarta

          a.sidebar__days__single-day__meetup(href='https://www.meetup.com/Javascript-SP/events/261766253/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | JS SP

          a.sidebar__days__single-day__meetup(href='https://www.meetup.com/pt-BR/html-sp/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | HTML SP

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 11/7 - Quinta
          a.sidebar__days__single-day__meetup(href='https://www.meetup.com/pt-BR/vuejssp/events/261554821/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | VueJS SP

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 12/7 - Sexta
          a.sidebar__days__single-day__meetup(href='https://www.meetup.com/pt-BR/Frontend-Dev-SP-Meetup/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | Frontend SP

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 13/7 - Sábado
          a.sidebar__days__single-day__meetup(href='http://www.frontinsampa.com.br/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | FrontInSampa 2019


      .sidebar__days

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 03/05 - Sexta

          a.sidebar__days__single-day__meetup(href='https://www.meetup.com/pt-BR/campinas-frontend/events/260873564/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | Campinas Front-end

        .sidebar__days__single-day
          .sidebar__days__single-day__header
            h3.sidebar__days_monday__title
              | 04/05 - Sábado
          a.sidebar__days__single-day__meetup(href='https://frontincampinas.com.br/', target='_blank', rel='noopener')
            .sidebar__days__single-day__meetup__item
            span.sidebar__days__single-day__meetup__title
              | Front in Campinas 2019

      

    //- JS scripts
    //- ===================================
    script(src='assets/js/particles.min.js')
    script(src='assets/js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,900')
