doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title FrontendWeek SP
    meta(name='description', content='FrontendWeek SP - semana dos meetups de São Paulo')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet')
    link(rel='stylesheet', href='./assets/css/main.css')
  body
    header.banner
      h1
        img(src='./assets/img/frontendweek-logo.png', alt='Logo do FrontendWeek')
      picture
        source(srcset='./assets/img/frontendweek-sp-mobile.png', media='(max-width: 768px)')
        source(srcset='./assets/img/frontendweek-sp-tablet.png', media='(min-width: 769px)')
        source(srcset='./assets/img/frontendweek-sp.png', media='(min-width: 960px)')
        img(src='./assets/img/frontendweek-sp-mobile.png', alt='Logo do FrontendWeek SP')
      p
        | A semana de eventos front-end em São Paulo!
        span.highlight-text de 22/6 a 1/7
      button.button.button--scroll-down(data-go-to='participants') rolar pra baixo
    #participants.participants.container
      h2 Participantes
      ul.participants-list
        li.event
          a(href='https://jsexperience2017.imasters.com.br/')
            img(src='./assets/img/jsexperience-logo.png', alt='Logo do JS Experience')
            |  JS Experience, dia 22 e 23 de Junho
        li.event
          a(href='https://twitter.com/jssaopaulo')
            img(src='./assets/img/jssp.png', alt='Logo do JavaScript SP')
            |  JavaScript-SP, dia 26 de Junho
        li.event
          a(href='https://twitter.com/meetupcss')
            img(src='./assets/img/meetup-css.jpg', alt='Logo do Meetup CSS')
            |  Meetup CSS-SP, dia 27 de Junho
        li.event
          a(href='https://twitter.com/html_sp')
            img(src='./assets/img/htmlsp.jpg', alt='Logo do HTML-SP')
            |  HTML-SP, dia 28 de Junho
        li.event
          a(href='https://www.meetup.com/pt-BR/femugsp/')
            img(src='./assets/img/femug-sp.png', alt='Logo do FEMUG-SP')
            |  FEMUG-SP, 29 de Junho
        li.event.event--on-white
          a(href='https://www.meetup.com/ReactJS-SP/events/240424358/?eventId=240424358')
            img(src='./assets/img/react-sp.jpeg', alt='Logo do React SP')
            |  React SP, dia 30 de Junho
        li.event.event--on-black
          a(href='http://www.frontinsampa.com.br/')
            img(src='./assets/img/frontinsampa-logo-mini.png', alt='Logo do FrontinSampa')
            |  FrontinSampa, dia 1 de Julho
        li.event
          a(href='http://codeinthedark.com.br')
            img(src='./assets/img/codeinthedark.jpg', alt='Logo do Code in the Dark Brasil')
            |  Code in the Dark Brasil, dia 1 de Julho
    .subscribe.container
      span.highlight-text Inscreva-se para mais informações e novidades!
      form#newsletter-subscribe.validate(action='//frontenweek.us15.list-manage.com/subscribe/post?u=2860ce27ad9d262ab2dcf4791&id=f49f68165e', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='true')
        .subscribe-form
          input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Seu email', required='')
          button#mc-embedded-subscribe(type='submit', name='subscribe') Enviar
          label.submit-msg(for='mce-EMAIL')
    script(src='./assets/js/jquery.min.js')
    script(src='./assets/js/jquery.ajaxchimp.js')
    script(src='./assets/js/main.js')
    script.
      var _gaq=[['_setAccount','UA-2909836-25'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
